* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}
.category-title {
  color: #4f4f4f;
  font-family: Arial, sans-serif;
  font-size: 28px;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.item-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.category-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  outline: none;
  width: 200px;
}

.category-dropdown:hover,
.category-dropdown:focus {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.selected-category {
  font-size: 1rem;
  margin-top: 1rem;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 300px
}

.item-box {
  width: calc(33.33% - 20px);
  margin: 10px;
}
.item-img {
  width: 400px;
  height: 400px;
}
.button {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}

.sell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.sell h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sell form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.sell label {
  font-size: 1.2rem;
  font-weight: bold;
}

.sell input,
.sell textarea,
.sell select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 100%;
  max-width: 800px;
}

.sell select {
  appearance: none;
  padding-right: 2rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 10.707l-5.146-5.147a.5.5 0 01.708-.708L8 9.293l4.439-4.439a.5.5 0 01.708.708L8.707 10.707a.5.5 0 01-.707 0z"/><path fill-rule="evenodd" d="M1 1a1 1 0 00-1 1v12a1 1 0 001 1h14a1 1 0 001-1V2a1 1 0 00-1-1H1zm0 2v10h14V3H1zm1.5 2a.5.5 0 000 1h11a.5.5 0 000-1h-11zm0 3a.5.5 0 000 1h11a.5.5 0 000-1h-11zm0 3a.5.5 0 000 1h11a.5.5 0 000-1h-11z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem 1.5rem;
}

.sell button[type="submit"] {
  background-color: #0077cc;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.sell button[type="submit"]:hover {
  background-color: #005ea3;
}